.guarantees{
margin-bottom: 100px;
}
.title {
    text-align: center;
    margin: 80px 0 34px;

}

.dscr {
    text-align: center;
    line-height: 22px;
    margin-bottom: 46px;
}

.guarantee {
    display: flex;
    justify-content: space-evenly;
}
.option{
    text-align: center;
    margin-top: 20px;
}
.dr{
    text-align: center;
}
