.firstPage{
    display: flex;
    justify-content: space-between;
}
.firstPage img{
    width: 460px;
}
.firstPage h1{
    width: 720px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 53px;
}
.firstPage h3{
    text-align: center;
}
.firstPage h4{
    text-align: center;
    color: rgb(17, 97, 141);
    padding-top: 8px;
}
.firstPage p{
    margin-top: 14px;
    width: 460px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-left: 130px;
}
.firstPage button{
    width: 250px;
    height: 50px;
    margin-left: 230px;
    margin-top: 23px;
}


.secondPage h1{
    text-align: center;
    margin-top: 35px;
}
.sell{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    align-items: baseline;
    margin-left: 150px;
}
.singleCard{
    margin-right: 140px;
    
}
.singleCard img{
    width: 70px;
    margin-top: 60px;
}
.singleCard p{
    margin-left: 4px;
}
.cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.card img{
    width: 400px;
}
.card p{
    margin-left: 40px;
    margin-bottom: 45px;
}

