.stock {
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  width: 295px;
  height: 500px;
  color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.title {
  text-align: center;
  margin: 94px 0 50px;
}
