.title{
    text-align: center;
    margin-bottom: 40px;
}
.blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}
.block {
    width: 270px;
    height: 360px;
    border: rgba(0, 1, 0, 1);
}

.pr {
    padding: 7px 0;
}

.dscr p {
    font-family: Proxima Nova;
    color: #292929;
}